// Site Globals
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  overflow-x: hidden;
}

// page Globals ****

.container {
  width: 1170px;
  margin: 0 auto;
}

.section-header {
  letter-spacing: 2.5px;
  font-size: 2.3rem;
  color: #665bf3;
  font-weight: 400;
  margin: 0 0 1.2rem 0;
}

.lead {
  width: 65%;
  font-size: 1.25rem;
  font-weight: 300;

  margin: 0 auto 2.3rem auto;
  line-height: 1.5;
  color: #8c869b;
}

.btn {
  background-color: #ffa84c;
  color: #fff;
  padding: 0.9rem 1.5rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: -1px 2px 20px 7px rgba(0, 0, 0, 0.4);
}

// *****

section {
  &.numbers {
    background-color: #655af3;
    color: #fff;

    .numbers-wrapper {
      display: flex;
      text-align: center;

      justify-content: space-between;
      padding: 6rem 0;

      .number {
        .num-wrapper {
          font-size: 4rem;
        }
      }

      p {
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.774);
        font-weight: 400;
        margin: -1rem 0 0 0;
      }
    }
  }

  &.gitlab {
    background-color: #655af3;
    margin: 2rem 0 0 0;
    padding: 6rem 0 8.2rem 0;
    color: #fff;

    .gitlab-wrapper {
      text-align: center;

      figure {
        background-color: #fff;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 0.6rem auto;
        width: 5rem;
        height: 5rem;
        box-shadow: -1px 2px 20px 7px rgba(0, 0, 0, 0.4);

        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 65%;
        }
      }

      h3 {
        letter-spacing: 1px;
        font-size: 1.6rem;
        font-weight: 400;
        margin: 0 0 1.7rem 0;
      }

      p {
        &.lead {
          color: rgba(255, 255, 255, 0.795);
        }
      }
    }
  }

  &.components {
    padding: 10rem 0;
    text-align: center;
    background-color: #f5f5f5;

    .lead {
      margin-bottom: 5.2rem;
      line-height: 1.3;
      width: 70%;
    }

    .components-wrapper {
      text-align: start;

      display: grid;
      grid-template-columns: repeat(6, 1fr);
      .component {
        text-align: center;

        margin: 0 0 3rem 0;

        @for $i from 25 through 28 {
          &:nth-child(#{$i}) {
            margin-bottom: 0;
          }
        }

        figure {
          width: 3.5rem;
          margin: 0 auto 0.1rem auto;

          img {
            width: 100%;
          }
        }
        p {
          color: #726a84;
          font-weight: 300;
          font-size: 1.1rem;
        }
      }
    }
  }

  &.faq {
    padding: 10rem 0;
    text-align: center;
    background-color: #fff;

    .section-header {
      font-size: 2.4rem;
      margin: 0 0 2.4rem 0;
    }

    p {
      &.lead {
        width: 70%;
        margin-bottom: 4rem;
        font-size: 1.2rem;
        a {
          color: #c27bf1;
          text-decoration: none;
        }
      }
    }

    .faq-list-wrapper {
      text-align: start;

      .faq {
        border: 1px solid #dfdfdf;
        border-radius: 0.6rem;
        font-size: 1rem;
        margin: 0 0 0.5rem 0;

        .question {
          border-radius: 0.6rem;
          padding: 1rem 2rem;
          color: #655bf3d5;
          background-color: #fcfcfc;
          border-bottom: 1px solid #dfdfdf;
          cursor: pointer;
        }

        .answer {
          display: none;
        }
      }
    }
  }

  &.license {
    background-color: #f5f5f5;
    padding: 5rem 0;
    .cards-wrapper {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      .card {
        background-color: #655af3;
        color: #fff;
        border-radius: 0.5rem;
        width: 47.5%;
        padding: 2.5rem 0;

        .content {
          width: 80%;
          margin: 0 auto;

          h2 {
            font-size: 1.8rem;
            color: rgba(255, 255, 255, 0.849);
            font-weight: 400;
            position: relative;
            display: inline-block;
            margin: 0 0 2rem 0;
            &::after {
              content: '';
              position: absolute;
              bottom: -1rem;
              left: 0;
              width: 90%;
              height: 1.4px;
              background-color: rgba(51, 51, 51, 0.363);
            }
          }

          h3 {
            font-weight: 400;
            font-size: 1.3rem;
            margin: 0 0 0.4rem 0;
            color: rgba(255, 255, 255, 0.932);
          }

          p {
            margin: 0 0 1rem 0;
            font-size: 1.1rem;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.664);
            span {
              font-weight: 400;
              color: rgba(255, 255, 255, 0.932);
            }
          }

          ul {
            list-style-image: url('../images/tick_small.png');

            margin: 0 0 2rem 0;

            li {
              color: rgba(255, 255, 255, 0.664);
            }
          }

          h1 {
            font-size: 2.5rem;
            font-weight: 300;
            text-shadow: -3px 3px 11px #5656568a, -3px 3px 9px #02020273;
            color: #fdfdff;
            margin: 0 0 2rem 0;
          }
        }
      }
    }
  }
}
